.tag-list-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}


.tag-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    margin-bottom:58px;
}

.tag-list::-webkit-scrollbar {
    width: 0px;
}

.tag-list::-webkit-scrollbar-thumb {
    background: transparent;
}

.tag-button {
    background:#F39C12;
    color:white;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size:14px;
    flex-shrink: 0; /* 버튼 크기가 줄어들지 않도록 고정 */
}

.tag-button.selected {
    background:white;
    color:#F39C12;
}

.selected-tag-container {
    margin-top: 20px;
}