.blog_list_wrap {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}
.blog_list_wrap .blog_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog_list_wrap .blog_cate_list {
  display: flex;
  gap: 12px;
}
.blog_list_wrap .cate_item {
  cursor: pointer;
}
.blog_list_wrap .cate_item.active {
  font-weight: bold;
}

.blog_list_wrap select {
  border: 1px solid black;
  padding: 10px;
}

.blog_list_wrap .blog_list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}
.blog_list_wrap .blog_item {}
.blog_list_wrap .blog_item .blog_item_inner {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.blog_list_wrap .img_wrap {
  width: 100%;
  height: 200px;
}
.blog_list_wrap .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog_list_wrap .content_wrap {
  padding: 10px;
}
.blog_list_wrap .title {
  font-size: 24px;
  line-height: 30px;
  min-height: 60px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.blog_list_wrap .content_text {
  padding-top: 10px;
  color: grey;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}
.blog_list_wrap .date {
  padding-top: 10px;
}

.blog_list_wrap .text_wrap {
  padding: 10px;
  display: flex;
  gap: 10px;
}
.blog_list_wrap .like {}
.blog_list_wrap .view {}
.blog_list_wrap .tag_list {
  padding: 10px;
  display: flex;
  gap: 4px;
  flex-wrap : wrap;
}
.blog_list_wrap .tag {
  border-radius: 2px;
  padding: 4px 8px;
  background: grey;
  font-size: 12px;
  color: white;
}


/*blog create*/
.blog_create_wrap {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding-top: 20px;
}
.blog_create_wrap .title {
}
.blog_create_wrap input {}
.blog_create_wrap .title input {}

.blog_create_wrap .tag {
  margin: 20px 0;
  display: flex;
  gap: 16px;
  align-items: center;
}
.blog_create_wrap .tag_list {
  display: flex;
  gap: 8px;
}
.blog_create_wrap .tag_item {
  padding: 10px 20px;
  background: grey;
  color:white;
  border-radius: 45px;
  position: relative;
}

.blog_create_wrap .tag_item .close {
  position:absolute;
  right: -10px;
  top: -10px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: 1px solid black;
  background: black;
}

.blog_create_wrap .tag input {}


.ql-toolbar.ql-snow + .ql-container.ql-snow {
  height: 500px;
}


.blog_create_wrap .btn_wrap {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  justify-content: center;
}
.blog_create_wrap .btn_wrap button {
  width: 120px;
  height: 40px;
  border: 1px solid black;
  padding: 0 20px;
}


/*blog admin*/
.blog_admin_wrap {}
.blog_admin_wrap .img_banner {}
.blog_admin_wrap .img_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 700px;
}
.blog_admin_wrap .admin_cover {
  width: 1200px;
  margin: 0 auto;
}
.blog_admin_wrap .admin_wrap {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.blog_admin_wrap .admin_inner {
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}
.blog_admin_wrap .admin_inner button {
  width: 200px;
  background: black;
  color: white;
  height: 40px;
  border-radius: 8px;
}
.blog_admin_wrap .text_wrap {
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
}
.blog_admin_wrap .text {
  font-size: 20px;
  color: grey;
}
.blog_admin_wrap .text_wrap button {
  width: 100px;
  height: 40px;
  background: grey;
  color: white;
  border-radius: 8px;
  margin-top: 16px;
}

.blog_admin_wrap .tab_list {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0;
}
.blog_admin_wrap .tab_item {
  cursor: pointer;
}
.blog_admin_wrap .tab_item.active {
  font-weight: bold;
}

.blog_admin_wrap .content_wrap {
  margin-top: 20px;
}
.blog_admin_wrap .content_item {}

.blog_admin_wrap table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  text-align: left;
}

.blog_admin_wrap th, td {
  border: 1px solid #dddddd;
  padding: 8px;
}

.blog_admin_wrap  th {
  background-color: #f2f2f2;
}

.blog_admin_wrap tfoot {
  font-weight: bold;
  background-color: #f9f9f9;
}
.blog_admin_wrap caption {
  overflow:hidden !important;
  position:relative;
  width:1px !important;
  height:1px !important;
  padding:0 !important;
  margin:-1px !important;
  border:0 !important;
  clip-path: inset(0 0 0 0) !important;
  white-space:nowrap !important;
  caption-side: top;
  font-weight: bold;
  padding-bottom: 10px;
}

.blog_admin_wrap .apply_wrap {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 24px;
}
.blog_admin_wrap .apply_item {
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
}
.blog_admin_wrap .apply_title {}
.blog_admin_wrap .apply_user {
  color:grey;
  margin-top: 4px;
  font-size: 14px;
}


.blog_admin_wrap .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(0 0 0 0);
  overflow: hidden;
}


/*blog detail*/
.blog_detail_wrap {
  width: 900px;
  margin: 0 auto;
  padding-top: 50px;
}
.blog_detail_wrap .detail_title {
  font-size: 36px;
  font-weight: bold;
  line-height: 30px;
}
.blog_detail_wrap .detail_info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog_detail_wrap .info_left {
  display: flex;
  gap: 8px;
}
.blog_detail_wrap .info_left .writer {
  font-weight: bold;
}
.blog_detail_wrap .info_left .date {}
.blog_detail_wrap .info_right {
  display: flex;
  gap: 8px;
}
.blog_detail_wrap .view {}
.blog_detail_wrap .like {}
.blog_detail_wrap .tag_list {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.blog_detail_wrap .tag_item {
  background: grey;
  color: white;
  padding: 10px;
  border-radius: 4px;
}
.blog_detail_wrap .content_wrap {
  margin-top: 30px;
  line-height: 24px;
  min-height: 500px;
}
.blog_detail_wrap .button_wrap {
  display: flex;
  gap: 20px;
}
.blog_detail_wrap .button_wrap .btn {
  border: 1px solid black;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 2px;
}


.blog_detail_wrap .reply_wrap {
  margin-top: 30px;
}
.blog_detail_wrap .reply_wrap .reply_form_wrap {}
.blog_detail_wrap .reply_wrap .reply_top {
  margin-bottom: 12px;
  font-weight: 700;
}
.blog_detail_wrap .reply_wrap .reply_form {}
.blog_detail_wrap .reply_wrap .textarea_button_wrap {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.blog_detail_wrap .reply_wrap .textarea {
  width: 100%;
  height: 80px;
  resize: none;
  border: 1px solid #b1b1b1;
  padding: 10px;
  border-radius: 4px;
}
.blog_detail_wrap .reply_wrap .button {
  min-width: 80px;
  font-size: 14px;
  border-radius: 4px;
  background: black;
  color:white;
  padding: 0 12px;
  min-height: 35px;
}

.blog_detail_wrap .reply_wrap .reply_list {
  margin-top: 20px;
}
.blog_detail_wrap .reply_wrap .reply_item {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #b1b1b1;
}
.blog_detail_wrap .reply_wrap .reply_item .writer {
  font-weight: 700;
  margin-bottom: 8px;
}
.blog_detail_wrap .reply_wrap .reply_item .date {
  font-size: 14px;
}
.blog_detail_wrap .reply_wrap .content {
  margin: 12px 0;
}
.blog_detail_wrap .reply_wrap .button_wrap {
  margin-bottom: 10px;
}

.blog_detail_wrap .reply_wrap .re_reply_item {
  position: relative;
  border-top: 1px dashed #eee;
  margin-top: 20px;
  padding: 20px 0 20px 40px;
}
.blog_detail_wrap .reply_wrap .re_reply_item:before {
  content: "└";
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 0;
}
.blog_detail_wrap .reply_wrap .re_reply_item:last-child {
  padding-bottom: 0;
}
.blog_detail_wrap .reply_wrap .re_reply_item .top_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}